$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$full_width:100%;
$border:1px solid black;
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  font: 100% $font-stack;
  color: $primary-color;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,99,1) 43%, rgba(0,212,255,1) 100%);
}
.calcu
{
    width: $full_width;
    margin-top: 12px;
    height: 100%;
}
.cal
{   
    
    height: 100%;
    width: $full_width;
    margin: 0px auto;
    margin-top: 100px;
    margin-left: 800px;
}
.cal input
{
   
    height: 62px;
    width: 62px;
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    
    
}
.cal input:hover{
    border-style: none;
}
#inp
{
    font-size: 20px;
    color: green;
    width: 260px;
    background-color: black;
    text-align: right;
    
}
