.mainClass{
    
    
    
}
#input{
    border-radius: 5px;
    width: 250px;
    height: 25px;
    text-align: center;
}
#input:hover{
    border: rgb(224, 4, 4) 2px solid;
    
}
.buttonClass{
    display: flex;
    justify-content: space-around;
}
.buttonClass button{
    border-radius: 5px;
    background-color: transparent;
}
.buttonClass button:hover{
    background-color: aqua;
}
.listClass{
    margin-top: 5px;
    background-color: transparent;
}
.listClass ul{
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    
}
.listClass ul li{
    border-bottom: 1px solid skyblue;
    display: flex;
    justify-content: space-between;
    height: 25px;
    
    
}
.listClass ul li:hover{
    
    background-color:whitesmoke;
}
.listClass ul li button{
    background-color: transparent;
    border:none;
    margin-right: 5px;
    width: 22px;
    border-radius: 25px;
}
.listClass ul li button:hover{
    background-color: rgba(107, 112, 112, 0.849);
    color: yellow;
    border-radius: 10px;
    border: transparent;
}
